# PyCharm klasörünü GitHub'a gönderme
.idea

# Her geliştiricinin ayarlarını barındıran dosyayı GitHub'a gönderme
settings.py

# Python'ın oluşturduğu ön bellek dosyalarını GitHub'a gönderme
__pycache__

# Mozilla FireFox tarayıcısının oluşturduğu log dosyasını GitHub'a gönderme
geckodriver.log

# Sanal geliştirme ortamı (venv klasörü) oluşturulduysa GitHub'a gönderme
venv
Pipfile
Pipfile.lock

# Kişisel bilgisayarın eklediği cash dosyaları
.DS_Store
.teachers/.DS_Store

# geckodriver.log
geckodriver.log